{% extends 'base.html' %}
{% block body %}
<section class="section">
    <div class="container">
        <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{note.pub_date}}</strong>
                            <br>{{note}}<br>
                            <a href="{% url 'diary:edit' note.id %}"><button class="button">edit</button></a>
                            <a href="{% url 'diary:delete' note.id %}"><button class="button button3">delete</button></a>
                        </p>
                        
                    </div>
                </div>
            </article>
        </div>
</section>
{% endblock body %}